openapi: 3.1.0

info:
  title: IdentityX API
  summary: Identity and authentication service for TrieOH
  description: |
    API responsible for authentication, authorization, cryptographic
    key management, and multi-tenancy across the TrieOH ecosystem.

    Supports OAuth (Google/GitHub), Ed25519-based JWT issuance, a JWKS
    endpoint, and multi-tenant project scoping.

    ## Authentication

    Every protected endpoint accepts either of:

    | Scheme | Header | Notes |
    |---|---|---|
    | Bearer JWT | `Authorization: Bearer <token>` | Ed25519-signed access token issued by `/auth/login` (or OAuth). |
    | API key | `X-API-KEY: <key>` | Static key created via `POST /projects/{project_id}/api_keys`; server-to-server access. |

    Some route groups additionally require a *platform-level* actor
    (`ClientOnly`) or a *project-scoped* actor (`ProjectClientOnly`);
    that requirement is called out per operation, since both schemes can
    satisfy the auth step itself.

    ## Response envelope

    Every JSON response (except `/.well-known/jwks.json`, which is a raw
    JWKS document) is the `fun.Response` envelope:

    ```json
    {
      "code": 200,
      "message": "",
      "data": { "...": "operation payload" },
      "error": null,
      "pagination": null,
      "timestamp": "2026-01-01T12:00:00Z",
      "module": "IdentityX"
    }
    ```

    - Success: `data` carries the payload. `message` is informational and
      often empty.
    - Failure: `error` carries an `AppError` — `{ "code", "message",
      "fields", "meta" }`. `data` is absent.
    - `pagination` is reserved for paged list endpoints (currently unused
      by IdentityX routes).

    ## Error codes → HTTP status

    The `error.code` sentinel maps to the HTTP status:

    | code | status |
    |---|---|
    | `BAD_REQUEST`, `VALIDATION_ERROR` | 400 |
    | `UNAUTHORIZED` | 401 |
    | `PAYMENT_REQUIRED` | 402 |
    | `FORBIDDEN` | 403 |
    | `NOT_FOUND` | 404 |
    | `METHOD_NOT_ALLOWED` | 405 |
    | `CONFLICT` | 409 |
    | `UNPROCESSABLE_ENTITY` | 422 |
    | `TOO_MANY_REQUESTS` | 429 |
    | `INTERNAL_ERROR` | 500 |
    | `NOT_IMPLEMENTED` | 501 |
    | `BAD_GATEWAY` | 502 |
    | `SERVICE_UNAVAILABLE` | 503 |

    ## Rate limits

    The harness applies a fixed rate limit of 400 requests/second with a
    burst of 20, keyed by client IP (`RemoteAddr`). Exceeded requests
    receive `429 TOO_MANY_REQUESTS`.
  termsOfService: https://identityx.com.br/terms
  version: 0.22.0
  contact:
    name: TrieOH
    url: https://trieoh.com/support
    email: contact@trieoh.com
  license:
    name: TSAL
    url: https://git.trieoh.com/TrieOH/TheTree/src/branch/main/api/identityx/LICENSE

jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema

servers:
  - url: https://api.identityx.com.br
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: system
    description: Reserved for system level operations such as /health

  - name: authn
    description: Authentication - login, token issuance, and session management

  - name: organizations
    description: Organization creation, membership, and settings management

  - name: projects
    description: Project creation and multi-tenant project scoping

  - name: apikeys
    description: API key issuance, rotation, and revocation

  - name: capabilities
    description: Capability and permission grants for actors and projects

  - name: actors
    description: Actor lifecycle management (creation, lookup, deactivation)

  - name: profiles
    description: Actor profile data management

  - name: profile_schemas
    description: Schema definitions for validating actor profile data

externalDocs:
  description: Full TrieOH documentation
  url: https://docs.trieoh.com

# Either bearer token OR api key satisfies auth where not overridden per
# operation. Routes with `security: []` are public.
security:
  - bearerAuth: []
  - apiKeyAuth: []

paths:
  /docs/openapi.yml:
    get:
      tags: [system]
      operationId: getOpenAPISpec
      summary: Get the OpenAPI specification
      description: |
        Returns this service's OpenAPI 3.1 specification in YAML — the
        same content as api/<svc>/api-spec.yml, embedded and served by
        the harness. Docs tooling fetches this URL to render the API
        reference. Public.
      security: []
      responses:
        '200':
          description: The OpenAPI 3.1 document
          content:
            application/yaml:
              schema:
                type: string
                description: The OpenAPI 3.1 document in YAML.

  /health:
    get:
      tags: [system]
      operationId: getHealth
      summary: Health check
      description: |
        Harness-owned liveness probe. Returns 200 with a fixed body when
        the process is up. Not covered by rate limiting or auth.
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: "ok"
                  service:
                    type: string
                    const: "IdentityX"
              example:
                status: ok
                service: IdentityX

  /auth/setup:
    get:
      tags: [authn]
      operationId: getSetup
      summary: Check if IdentityX is set up
      description: |
        Returns 204 while setup is still pending (no first account yet)
        and 409 once the system has been set up — used by installers to
        decide whether to show the setup form. Public.
      security: []
      responses:
        '204':
          description: Setup still pending — the setup form should be shown
        '409':
          description: Setup already complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags: [authn]
      operationId: postSetup
      summary: Set up IdentityX
      description: |
        Creates the first account in the system as a super admin and
        enables authn. Succeeds only once — subsequent calls return 409
        ("setup already complete"). Returns the freshly issued token pair
        (201).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialRequest'
            example:
              email: admin@trieoh.com
              password: S3curePassw0rd!
      responses:
        '201':
          description: First account created; token pair issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokensOutput'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/register:
    post:
      tags: [authn]
      operationId: postRegister
      summary: Register a user
      description: |
        Registers the credential pair, either as an IdentityX client
        (no `project_id`) or as a client of a project that consumes
        IdentityX for authn (pass `project_id`). Returns 201 with an empty
        body — the caller then logs in via `/auth/login`.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectIDQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialRequest'
            example:
              email: user@example.com
              password: S3curePassw0rd!
      responses:
        '201':
          description: User registered successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/verify-email:
    post:
      tags: [authn]
      operationId: postVerifyEmail
      summary: Verify an email address
      description: |
        Redeems the single-use JWT carried by a verification email and
        marks the actor's email as verified. The token is HMAC-signed,
        purpose-scoped, expires after a short TTL, and is consumed on
        first use (jti anti-replay). Re-clicking a consumed link on an
        already-verified account succeeds (idempotent).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
            example:
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/resend-verification:
    post:
      tags: [authn]
      operationId: postResendVerification
      summary: Resend the verification email
      description: |
        Mints a fresh verification link and emails it to the given
        address. Always returns 200 — unknown emails and already-verified
        accounts are silent no-ops, so the endpoint does not leak which
        emails are registered.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationRequest'
            example:
              email: user@example.com
      responses:
        '200':
          description: Verification email sent (or silently skipped)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/forgot-password:
    post:
      tags: [authn]
      operationId: postForgotPassword
      summary: Request a password reset link
      description: |
        Mints a single-use password-reset link and emails it to the given
        address. Always returns 200 — unknown emails and passwordless
        (OAuth-only) accounts are silent no-ops, so the endpoint does not
        leak which emails are registered.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
            example:
              email: user@example.com
      responses:
        '200':
          description: Reset link emailed (or silently skipped)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/reset-password:
    post:
      tags: [authn]
      operationId: postResetPassword
      summary: Set a new password with a reset link
      description: |
        Redeems the single-use JWT carried by a password-reset email and
        replaces the actor's password. The token is HMAC-signed,
        purpose-scoped, expires after a short TTL, and is consumed on
        first use — a consumed token is dead and a new link must be
        requested.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
            example:
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              password: S3curePassw0rd!
      responses:
        '200':
          description: Password reset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/login:
    post:
      tags: [authn]
      operationId: postLogin
      summary: Log in a user
      description: |
        Logs in the specified credentials if they exist on the requested
        target (IdentityX itself, or the project identified by
        `project_id`). Returns an access/refresh token pair. The access
        token is an Ed25519-signed JWT; verify it against
        `/.well-known/jwks.json`.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectIDQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialRequest'
            example:
              email: user@example.com
              password: S3curePassw0rd!
      responses:
        '200':
          description: Login succeeded; token pair issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokensOutput'
              example:
                code: 200
                message: ""
                data:
                  access_token: eyJhbGciOiJFZERTQSIsImtpZCI6Ii4uLiJ9...
                  refresh_token: eyJhbGciOiJFZERTQSIsImtpZCI6Ii4uLiJ9...
                  access_expires_at: '2026-01-01T13:00:00Z'
                  refresh_expires_at: '2026-01-08T12:00:00Z'
                  domain: example.com
                timestamp: '2026-01-01T12:00:00Z'
                module: IdentityX
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/logout:
    post:
      tags: [authn]
      operationId: postLogout
      summary: Log out a user
      description: |
        Logs out the current session, blacklisting the presented access
        and refresh tokens. Requires a valid bearer token; the tokens to
        blacklist are read from the request headers.
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          description: The access token to blacklist, as `Bearer <token>`.
          schema:
            type: string
        - name: Refresh-Token
          in: header
          required: true
          description: The refresh token to blacklist.
          schema:
            type: string
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/refresh:
    post:
      tags: [authn]
      operationId: postRefresh
      summary: Refresh a user session
      description: |
        Exchanges a refresh token (sent in the `Refresh-Token` header) for
        a fresh access/refresh token pair. Use when the access token is
        about to expire or has expired.
      security: []
      parameters:
        - name: Refresh-Token
          in: header
          required: true
          description: The refresh token to exchange.
          schema:
            type: string
      responses:
        '200':
          description: New token pair issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokensOutput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/{provider}/connect:
    get:
      tags: [authn]
      operationId: getOAuthConnect
      summary: Start a social login
      description: |
        Starts the social login process for the given provider
        (`google` or `github`) and returns the redirect URL the client
        should send the user to. After the user authorizes, the provider
        redirects back to `/auth/{provider}/callback?code=...`.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectIDQuery'
        - name: provider
          in: path
          required: true
          description: Social identity provider
          schema:
            $ref: '#/components/schemas/SupportedOAuthProviders'
      responses:
        '200':
          description: Redirect URL for the provider consent screen
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [url]
                        properties:
                          url:
                            type: string
                            format: uri
                            description: URL to redirect the user to.
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/{provider}/callback:
    get:
      tags: [authn]
      operationId: getOAuthCallback
      summary: Conclude a social login
      description: |
        Receives the callback from the social login redirect, exchanges
        the authorization `code` for tokens, and finishes user
        authentication. Returns the token pair with 201 on first-time
        OAuth logins (account created implicitly).
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          description: Social identity provider
          schema:
            $ref: '#/components/schemas/SupportedOAuthProviders'
        - name: code
          in: query
          required: true
          description: Authorization code issued by the provider.
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: |
            Opaque state token issued by `/auth/{provider}/connect`. Carries
            the login attempt (scope, provider) back from the provider and
            is consumed by this callback.
          schema:
            type: string
      responses:
        '201':
          description: Social login concluded; token pair issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokensOutput'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/oauth-providers:
    get:
      tags: [authn]
      operationId: getOAuthProviders
      summary: Discover enabled social login providers
      description: |
        Public discovery of the OAuth providers a scope currently accepts
        logins with. With `project_id`, returns the project's enabled
        providers; without it, IdentityX's own platform providers
        (env-configured). The frontend login modal renders one button per
        returned provider.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectIDQuery'
      responses:
        '200':
          description: Enabled providers for the scope
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OAuthProviderDiscoveryItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/introspect:
    get:
      tags: [authn]
      operationId: getIntrospect
      summary: Introspect the current identity
      description: |
        Returns the identity resolved from the current credential — the
        actor (subject) plus the credential type used (JWT token or API
        key). API keys authenticate with their full raw key; the subject
        carries the key's capability grants.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Identity resolved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Identity'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /.well-known/jwks.json:
    get:
      tags: [authn]
      operationId: getJWKS
      summary: Get a JWKS
      description: |
        Provides the JSON Web Key Set (JWKS) for verifying JWTs issued by
        the authentication service. Omit `project_id` for the platform
        keyset, or pass a project id for that project's keyset. Response
        is a raw JWKS document (RFC 7517), NOT the fun envelope, and is
        cached for 2 hours by the server.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectIDQuery'
      responses:
        '200':
          description: JWKS document
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    description: Public keys used to verify tokens.
                    items:
                      type: object
                      additionalProperties: true
              example:
                keys:
                  - kty: OKP
                    crv: Ed25519
                    kid: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    x: 11qYAYKxCrfVS_7TyWQHOg7hcvPapiMlrwIaaPcHURo
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /organizations:
    get:
      tags: [organizations]
      operationId: listOrganizations
      summary: List your organizations
      description: |
        Lists the organizations the authenticated platform-level actor
        belongs to. Requires a JWT or API key bound to a platform-level
        (non-project-scoped) actor.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Organizations the actor belongs to
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [organizations]
      operationId: createOrganization
      summary: Create an organization
      description: |
        Creates an organization owned by the authenticated platform-level
        actor. The actor becomes the organization owner.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
            example:
              name: TrieOH Labs
              slug: trieoh-labs
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /organizations/{organization_id}/members:
    get:
      tags: [organizations]
      operationId: listOrganizationMembers
      summary: List organization members
      description: |
        Lists the members of an organization. Requires a platform-level
        actor that is a member of the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
      responses:
        '200':
          description: Organization members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrganizationMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [organizations]
      operationId: addOrganizationMember
      summary: Add an organization member
      description: |
        Adds an existing actor (by email) to the organization with the
        given role. The authenticated actor must be an admin or owner of
        the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrganizationMemberRequest'
            example:
              actor_email: user@example.com
              role: member
      responses:
        '201':
          description: Member added
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [organizations]
      operationId: removeOrganizationMember
      summary: Remove an organization member
      description: |
        Removes an actor (by email) from the organization. The
        authenticated actor must be an admin or owner of the
        organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveOrganizationMemberRequest'
            example:
              actor_email: user@example.com
      responses:
        '200':
          description: Member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /organizations/{organization_id}/projects:
    get:
      tags: [organizations]
      operationId: listOrganizationProjects
      summary: List organization projects
      description: |
        Lists the projects scoped to an organization. Requires a
        platform-level actor that is a member of the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
      responses:
        '200':
          description: Organization projects
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [organizations]
      operationId: createOrganizationProject
      summary: Create an organization project
      description: |
        Creates a project inside an organization. Requires an
        organization member with admin or owner role.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgProjectRequest'
            example:
              name: Checkout Service
              domain: https://checkout.trieoh.com
              brand_slug: trieoh-checkout
      responses:
        '201':
          description: Organization project created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /organizations/{org_id}/projects/{project_id}/actors:
    get:
      tags: [organizations]
      operationId: listOrganizationProjectActors
      summary: List project actors
      description: |
        Lists the actors scoped to an organization-owned project. The
        actor must belong to the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgID'
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Project actors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [organizations]
      operationId: createOrganizationProjectActor
      summary: Create a project actor
      description: |
        Creates an actor scoped to an organization-owned project. The
        actor must belong to the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgID'
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActorRequest'
            example:
              auth_method: password
              type: human
              email: user@example.com
      responses:
        '201':
          description: Project actor created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Actor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /organizations/{organization_id}/projects/{project_id}/members:
    get:
      tags: [organizations]
      operationId: listOrganizationProjectMembers
      summary: List project members
      description: |
        Lists the members of an organization-owned project. The actor
        must belong to the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Project members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProjectMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [organizations]
      operationId: addOrganizationProjectMember
      summary: Add a project member
      description: |
        Adds an existing actor (by email) to an organization-owned
        project with the given role. The actor must be an admin or owner
        of the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrgProjectMemberRequest'
            example:
              actor_email: user@example.com
              role: admin
      responses:
        '201':
          description: Project member added
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [organizations]
      operationId: removeOrganizationProjectMember
      summary: Remove a project member
      description: |
        Removes an actor (by email) from an organization-owned project.
        The actor must be an admin or owner of the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveOrgProjectMemberRequest'
            example:
              actor_email: user@example.com
      responses:
        '200':
          description: Project member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /organizations/{organization_id}/projects/{project_id}/actors/{actor_id}:
    get:
      tags: [organizations]
      operationId: getOrganizationProjectActor
      summary: Get a project actor by ID
      description: |
        Fetches a single actor scoped to an organization-owned project.
        The actor must belong to the organization.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationID'
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/ActorID'
      responses:
        '200':
          description: The requested actor
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects:
    get:
      tags: [projects]
      operationId: listProjects
      summary: List your projects
      description: |
        Lists the projects the authenticated actor is a member of.
        Platform-level actors see all projects they own or belong to.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Projects the actor belongs to
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [projects]
      operationId: createProject
      summary: Create a project
      description: |
        Creates a project owned by the authenticated platform-level
        actor. Use `/organizations/{organization_id}/projects` to create
        an organization-scoped project instead.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            example:
              name: My Project
              domain: https://my-project.example.com
              brand_slug: my-project
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/members:
    get:
      tags: [projects]
      operationId: listProjectMembers
      summary: List project members
      description: |
        Lists the members of a project. The authenticated actor must be a
        member of the project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Project members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProjectMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [projects]
      operationId: addProjectMember
      summary: Add a project member
      description: |
        Adds an existing actor (by email) to the project with the given
        role. The authenticated actor must be an admin or owner of the
        project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProjectMemberRequest'
            example:
              actor_email: user@example.com
              role: member
      responses:
        '201':
          description: Project member added
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [projects]
      operationId: removeProjectMember
      summary: Remove a project member
      description: |
        Removes an actor (by email) from the project. The authenticated
        actor must be an admin or owner of the project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveProjectMemberRequest'
            example:
              actor_email: user@example.com
      responses:
        '200':
          description: Project member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/actors:
    get:
      tags: [actors]
      operationId: listActors
      summary: List project actors
      description: |
        Lists the actors registered in the project. The authenticated
        actor must be a member of the project (project-scoped service
        accounts included) or a platform-level client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Project actors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [actors]
      operationId: createActor
      summary: Create a project actor
      description: |
        Creates an actor in the project (used by services that provision
        project identities — e.g. a workspace API key holder creating a
        service actor). The authenticated actor must be a platform-level
        client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActorRequest'
            example:
              auth_method: api_key
              type: service
              email: checkout@example.com
      responses:
        '201':
          description: Actor created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Actor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/actors/{actor_id}:
    get:
      tags: [actors]
      operationId: getActor
      summary: Get a project actor by ID
      description: |
        Fetches a single actor from the project by ID. The authenticated
        actor must be a member of the project (project-scoped service
        accounts included) or a platform-level client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/ActorID'
      responses:
        '200':
          description: The requested actor
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/actors/{actor_email}:by_email:
    get:
      tags: [actors]
      operationId: getActorByEmail
      summary: Get a project actor by email
      description: |
        AIP custom method (`:verb` suffix per AIP-136). Fetches a single
        actor from the project by email address. The authenticated actor
        must be a member of the project (project-scoped service accounts
        included) or a platform-level client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
        - name: actor_email
          in: path
          required: true
          description: Email address of the actor to fetch.
          schema:
            x-go-type: string
            type: string
            format: email
      responses:
        '200':
          description: The requested actor
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Actor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/email-templates:
    get:
      tags: [projects]
      operationId: listEmailTemplates
      summary: List a project's effective email templates
      description: |
        Lists the effective templates for every kind — the project's
        override when one exists, otherwise the baked-in default — each
        tagged with its source (`default` or `override`). The
        authenticated actor must be an admin or owner of the project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Effective email templates
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EffectiveEmailTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/email-templates/{kind}:
    get:
      tags: [projects]
      operationId: getEmailTemplate
      summary: Get a project's effective email template
      description: |
        Returns the effective template for one kind — the project's
        override when one exists, otherwise the baked-in default. The
        authenticated actor must be an admin or owner of the project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/EmailTemplateKind'
      responses:
        '200':
          description: Effective email template
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EffectiveEmailTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [projects]
      operationId: putEmailTemplate
      summary: Upsert a project's email template override
      description: |
        Saves the project's override for one kind. The body is a Go
        template rendered with the same variables as the built-in
        defaults: `ActionURL`, `ProjectName`, `Expiry`, `ProjectDomain`,
        `Email`. The body must reference `{{.ActionURL}}` at least once
        (the actionable link always comes from IdentityX) and must render;
        violations are rejected with 422-style validation errors. The
        authenticated actor must be an admin or owner of the project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/EmailTemplateKind'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateBody'
            example:
              subject: Welcome to Acme — confirm your email
              body: |
                <p>Hi there!</p>
                <p><a href="{{.ActionURL}}">Confirm my email</a></p>
      responses:
        '200':
          description: Email template override saved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EffectiveEmailTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          description: Template fails the mandate (missing ActionURL) or does not render
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [projects]
      operationId: deleteEmailTemplate
      summary: Delete a project's email template override
      description: |
        Removes the project's override for one kind, restoring the
        built-in default. Deleting a kind that has no override is a
        no-op. The authenticated actor must be an admin or owner of the
        project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/EmailTemplateKind'
      responses:
        '200':
          description: Email template override removed (default restored)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/api_keys:
    post:
      tags: [apikeys]
      operationId: createAPIKey
      summary: Create an API key
      description: |
        Creates an API key bound to a subject (actor) in the project,
        optionally scoped to a set of capability IDs and an expiry. The
        full raw key is returned exactly once in `data.raw_key` — store
        it, it cannot be retrieved again. The authenticated actor must be
        a platform-level client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            example:
              subject_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              capabilities:
                - 3fa85f64-5717-4562-b3fc-2c963f66afa7
              name: checkout-prod
              env: production
              expires_at: '2027-01-01T00:00:00Z'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateAPIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/oauth-providers:
    get:
      tags: [oauthproviders]
      operationId: listProjectOAuthProviders
      summary: List the project's OAuth providers
      description: |
        Lists the OAuth providers configured for the project, including
        disabled ones and their status. The client secret is never
        returned. Requires a project membership (member or above).
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Configured OAuth providers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OAuthProviderOutput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [oauthproviders]
      operationId: createProjectOAuthProvider
      summary: Configure an OAuth provider for the project
      description: |
        Stores the provider's credentials for the project. The client
        secret is encrypted at rest and never returned. Requires a project
        admin or owner. Enabling/disabling happens via
        `/oauth-providers/{oauth_provider_id}/enable|disable`.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOAuthProviderRequest'
            example:
              provider: google
              client_id: 1234567890-abc.apps.googleusercontent.com
              client_secret: GOCSPX-example
              callback_url: https://myapp.example.com/auth/callback
      responses:
        '201':
          description: Provider configured
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OAuthProviderOutput'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /oauth-providers/{oauth_provider_id}:
    patch:
      tags: [oauthproviders]
      operationId: updateOAuthProvider
      summary: Update an OAuth provider's credentials
      description: |
        Partially updates a project's OAuth provider configuration. A
        field left out is kept as-is; the secret cannot be read back and is
        only replaced when a new one is sent. Requires a project admin or
        owner.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OAuthProviderID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOAuthProviderRequest'
            example:
              client_secret: GOCSPX-new-secret
      responses:
        '200':
          description: Provider updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OAuthProviderOutput'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags: [oauthproviders]
      operationId: deleteOAuthProvider
      summary: Remove an OAuth provider from the project
      description: |
        Hard-deletes the project's OAuth provider configuration. Blocks
        new logins via this provider; already-linked external identities
        remain valid. Requires a project admin or owner.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OAuthProviderID'
      responses:
        '200':
          description: Provider removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /oauth-providers/{oauth_provider_id}/disable:
    post:
      tags: [oauthproviders]
      operationId: disableOAuthProvider
      summary: Disable an OAuth provider
      description: |
        Blocks new logins via this provider for the project. Users who
        already linked an external identity with it can still log in.
        Requires a project admin or owner.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OAuthProviderID'
      responses:
        '200':
          description: Provider disabled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OAuthProviderOutput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /oauth-providers/{oauth_provider_id}/enable:
    post:
      tags: [oauthproviders]
      operationId: enableOAuthProvider
      summary: Enable an OAuth provider
      description: |
        Re-enables an OAuth provider for the project, allowing new logins
        again. Requires a project admin or owner.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OAuthProviderID'
      responses:
        '200':
          description: Provider enabled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OAuthProviderOutput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/capabilities:
    get:
      tags: [capabilities]
      operationId: listCapabilities
      summary: List project capabilities
      description: |
        Lists the capability grants defined for the project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Project capabilities
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Capability'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags: [capabilities]
      operationId: createCapability
      summary: Create a capability
      description: |
        Defines a new capability grant (`resource:action`) for the
        project. The authenticated actor must be a platform-level client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCapabilityRequest'
            example:
              resource: intents
              action: checkout
      responses:
        '201':
          description: Capability created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Capability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /profile-schema:
    get:
      tags: [profile_schemas]
      operationId: getPlatformProfileSchema
      summary: Get the platform-wide profile schema
      description: |
        Fetches the platform-wide JSON Schema used to validate actor
        profiles (applies to actors with no project). Public read.
      security: []
      responses:
        '200':
          description: Platform profile schema
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProjectProfileSchema'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [profile_schemas]
      operationId: upsertPlatformProfileSchema
      summary: Upsert the platform-wide profile schema
      description: |
        Sets (or replaces) the platform-wide JSON Schema for actor
        profiles. Requires a platform-level client.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProfileSchemaRequest'
            example:
              schema:
                type: object
                properties:
                  full_name:
                    type: string
              active: true
      responses:
        '200':
          description: Schema upserted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProjectProfileSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/profile-schema:
    get:
      tags: [profile_schemas]
      operationId: getProjectProfileSchema
      summary: Get the project profile schema
      description: |
        Fetches the JSON Schema used to validate actor profiles within
        the project. Public read.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Project profile schema
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProjectProfileSchema'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [profile_schemas]
      operationId: upsertProjectProfileSchema
      summary: Upsert the project profile schema
      description: |
        Sets (or replaces) the JSON Schema for actor profiles within the
        project. Requires a platform-level client.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProfileSchemaRequest'
      responses:
        '200':
          description: Schema upserted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProjectProfileSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /actors/{actor_id}/profile:
    get:
      tags: [profiles]
      operationId: getPlatformProfile
      summary: Get a platform actor's profile
      description: |
        Fetches the platform-scoped profile (actor with no project) of
        the given actor. Public read.
      security: []
      parameters:
        - $ref: '#/components/parameters/ActorID'
      responses:
        '200':
          description: Actor profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ActorProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [profiles]
      operationId: upsertPlatformProfile
      summary: Upsert a platform actor's profile
      description: |
        Sets (or replaces) the platform-scoped profile of the given
        actor, validating against the active platform profile schema.
        Requires a platform-level client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ActorID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProfileRequest'
            example:
              profile:
                full_name: Jane Doe
      responses:
        '200':
          description: Profile upserted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ActorProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/actors/{actor_id}/profile:
    get:
      tags: [profiles]
      operationId: getProjectProfile
      summary: Get a project actor's profile
      description: |
        Fetches the project-scoped profile of the given actor within the
        project. Public read.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/ActorID'
      responses:
        '200':
          description: Actor profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ActorProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags: [profiles]
      operationId: upsertProjectProfile
      summary: Upsert a project actor's profile
      description: |
        Sets (or replaces) the project-scoped profile of the given actor
        within the project, validating against the project's active
        profile schema. Project users may update their own profile;
        project admins/owners may update any profile in the project.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/ActorID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProfileRequest'
      responses:
        '200':
          description: Profile upserted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ActorProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /profiles/by-handle/{handle}:
    get:
      tags: [profiles]
      operationId: getProfileByHandle
      summary: Get a profile by handle
      description: |
        Fetches the profile with the given handle. Handles are unique when
        present, so at most one profile matches. Public read.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProfileHandle'
      responses:
        '200':
          description: Actor profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ActorProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /profiles/outdated:
    get:
      tags: [profiles]
      operationId: listOutdatedPlatformProfiles
      summary: List outdated platform actor profiles
      description: |
        Lists platform-scoped actor profiles that failed to migrate to the
        active platform schema version and are flagged as outdated. The
        admin resolves them manually (edit via the profile upsert, or fix
        the schema). Requires a platform-level client.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Outdated platform actor profiles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ActorProfile'
                        x-go-type: '[]ActorProfile'
                        x-go-type-skip-optional-pointer: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /projects/{project_id}/profiles/outdated:
    get:
      tags: [profiles]
      operationId: listOutdatedProjectProfiles
      summary: List outdated project actor profiles
      description: |
        Lists the project's actor profiles that failed to migrate to the
        active project schema version and are flagged as outdated. The
        admin resolves them manually. Requires a project admin.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Outdated project actor profiles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ActorProfile'
                        x-go-type: '[]ActorProfile'
                        x-go-type-skip-optional-pointer: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by IdentityX, signed with Ed25519
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Static API key for server-to-server / project-scoped access

  parameters:
    ProjectIDQuery:
      name: project_id
      in: query
      required: false
      description: Project to scope the operation to. Omit for IdentityX itself.
      schema:
        $ref: '#/components/schemas/UUID'
    ProjectID:
      name: project_id
      in: path
      required: true
      description: Project ID.
      schema:
        $ref: '#/components/schemas/UUID'
    OAuthProviderID:
      name: oauth_provider_id
      in: path
      required: true
      description: OAuth provider configuration ID.
      schema:
        $ref: '#/components/schemas/UUID'
    OrganizationID:
      name: organization_id
      in: path
      required: true
      description: Organization ID.
      schema:
        $ref: '#/components/schemas/UUID'
    OrgID:
      name: org_id
      in: path
      required: true
      description: Organization ID.
      schema:
        $ref: '#/components/schemas/UUID'
    ActorID:
      name: actor_id
      in: path
      required: true
      description: Actor ID.
      schema:
        $ref: '#/components/schemas/UUID'
    ProfileHandle:
      name: handle
      in: path
      required: true
      description: Unique profile handle.
      schema:
        type: string
    EmailTemplateKind:
      name: kind
      in: path
      required: true
      description: Email template kind.
      schema:
        $ref: '#/components/schemas/EmailTemplateKind'

  responses:
    BadRequest:
      description: Invalid request payload or parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Insufficient permissions for the requested operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: The requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Conflict:
      description: The request conflicts with the current state of the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServiceUnavailable:
      description: Service temporarily unavailable (e.g. IdentityX not set up yet)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    UUID:
      type: string
      format: uuid
      x-go-type: uuid.UUID
      x-go-type-import:
        path: github.com/google/uuid

    NullableUUID:
      type: [ string, "null" ]
      format: uuid
      x-go-type: '*uuid.UUID'
      x-go-type-skip-optional-pointer: true
      x-go-type-import:
        path: github.com/google/uuid

    Response:
      type: object
      description: |
        The `fun.Response` envelope wrapping every JSON payload (except
        `/.well-known/jwks.json`). On success `error` is absent and `data`
        carries the operation payload; on failure `data` is absent and
        `error` carries the AppError. `pagination` is reserved for paged
        list endpoints.
      required: [code, message, timestamp, module]
      properties:
        code:
          type: integer
          description: HTTP status code, duplicated for convenience.
          example: 200
        message:
          type: string
          description: Informational message; often empty on success.
        data:
          type: object
          description: The operation payload. Shape is documented per operation.
        error:
          allOf:
            - $ref: '#/components/schemas/Error'
          description: Present (non-null) only on failure.
        pagination:
          allOf:
            - $ref: '#/components/schemas/PaginationMeta'
          description: Present only on paged list endpoints.
        timestamp:
          type: string
          format: date-time
          description: Server time the response was produced.
        module:
          type: string
          description: Service that produced the response.

    Error:
      type: object
      title: AppError
      description: |
        The `fun.AppError` object carried in the envelope's `error` field
        on failure. `code` is a machine-readable sentinel whose mapping to
        the HTTP status is documented in the top-level description.
      required: [code, message]
      properties:
        code:
          type: string
          enum:
            - BAD_REQUEST
            - VALIDATION_ERROR
            - UNAUTHORIZED
            - PAYMENT_REQUIRED
            - FORBIDDEN
            - NOT_FOUND
            - METHOD_NOT_ALLOWED
            - CONFLICT
            - UNPROCESSABLE_ENTITY
            - TOO_MANY_REQUESTS
            - INTERNAL_ERROR
            - NOT_IMPLEMENTED
            - BAD_GATEWAY
            - SERVICE_UNAVAILABLE
        message:
          type: string
          description: Human-readable explanation of the failure.
        fields:
          type: array
          description: Per-field validation errors (validation failures only).
          items:
            type: object
            required: [field, message]
            properties:
              field:
                type: string
                description: Offending field name (dot notation for nested fields).
              message:
                type: string
                description: Why the field is invalid.
        meta:
          type: object
          description: Arbitrary key/value context (resource ids, request ids, ...).
          additionalProperties: true
        debug:
          type: object
          description: Development-only diagnostics; stripped outside development environments.
          properties:
            raw_error:
              type: string
            stack_trace:
              type: string

    ErrorResponse:
      type: object
      description: |
        The envelope as sent on failure: `data` absent, `error` carrying
        the AppError. Referenced by every error response in this spec.
      required: [code, message, error, timestamp, module]
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Same message as `error.message`.
        error:
          $ref: '#/components/schemas/Error'
        timestamp:
          type: string
          format: date-time
        module:
          type: string
          const: IdentityX

    PaginationMeta:
      type: object
      description: |
        Pagination metadata attached to paged list endpoints. Currently
        unused by IdentityX routes; documented for forward compatibility.
      required: [page, limit, total, has_next, has_prev]
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
          format: int64
        has_next:
          type: boolean
        has_prev:
          type: boolean
        next_page:
          type: integer
        prev_page:
          type: integer

    SupportedOAuthProviders:
      x-go-type: models.OAuthProvider
      x-go-type-import:
        path: IdentityX/models
      type: string
      enum: [ "google", "github" ]

    OAuthProviderDiscoveryItem:
      type: object
      required: [provider]
      properties:
        provider:
          $ref: '#/components/schemas/SupportedOAuthProviders'
          description: A provider the scope currently accepts logins with.

    OAuthProviderOutput:
      x-go-type: models.ProjectOAuthProviders
      x-go-type-import:
        path: IdentityX/models
      type: object
      required: [id, project_id, provider, client_id, enabled, created_at, updated_at]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        project_id:
          $ref: '#/components/schemas/UUID'
        provider:
          $ref: '#/components/schemas/SupportedOAuthProviders'
        client_id:
          type: string
          description: The provider-side client ID. The secret is never returned.
        callback_url:
          type: string
          format: uri
          description: The provider redirect URI this project registered, called back after consent.
        enabled:
          type: boolean
          description: Whether new logins via this provider are accepted.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: Mirrors `models.ProjectOAuthProviders` (secret excluded from the wire representation).

    CreateOAuthProviderRequest:
      type: object
      required: [provider, client_id, client_secret, callback_url]
      properties:
        provider:
          $ref: '#/components/schemas/SupportedOAuthProviders'
        client_id:
          type: string
          minLength: 1
          description: The provider-side client ID.
        client_secret:
          type: string
          minLength: 1
          description: The provider-side client secret. Encrypted at rest.
        callback_url:
          type: string
          format: uri
          minLength: 1
          description: |
            The provider redirect URI this project registered in the
            provider console. Called back after consent.

    UpdateOAuthProviderRequest:
      type: object
      properties:
        client_id:
          type: string
          minLength: 1
          description: The provider-side client ID. Omitted keeps the stored value.
        client_secret:
          type: string
          minLength: 1
          description: The provider-side client secret. Omitted keeps the stored value.
        callback_url:
          type: string
          format: uri
          minLength: 1
          description: The provider redirect URI. Omitted keeps the stored value.

    CredentialRequest:
      type: object
      required: [email, password]
      properties:
        email:
          x-oapi-codegen-extra-tags:
            validate: "required,email,min=3,max=254"
          x-go-type: string
          type: string
          format: email
          description: User's email address.
          minLength: 3
          maxLength: 254
        password:
          x-oapi-codegen-extra-tags:
            validate: "required,passwd,min=8,max=72"
          type: string
          minLength: 8
          maxLength: 72
          description: User's password.
      description: |
        Request body for `/auth/setup`, `/auth/register`, and
        `/auth/login`. Mirrors `models.IDXRegisterRequest` /
        `models.IDXLoginRequest`.

    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          minLength: 1
          description: The HMAC JWT from the verification link.
      description: Request body for `POST /auth/verify-email`.

    ResendVerificationRequest:
      type: object
      required: [email]
      properties:
        email:
          x-oapi-codegen-extra-tags:
            validate: "required,email,min=3,max=254"
          x-go-type: string
          type: string
          format: email
          minLength: 3
          maxLength: 254
          description: Email address to (re)send the verification link to.
        project_id:
          $ref: '#/components/schemas/NullableUUID'
          description: Project the actor belongs to. Omit for IdentityX itself.
      description: Request body for `POST /auth/resend-verification`.

    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          x-oapi-codegen-extra-tags:
            validate: "required,email,min=3,max=254"
          x-go-type: string
          type: string
          format: email
          minLength: 3
          maxLength: 254
          description: Email address to send the reset link to.
        project_id:
          $ref: '#/components/schemas/NullableUUID'
          description: Project the actor belongs to. Omit for IdentityX itself.
      description: Request body for `POST /auth/forgot-password`.

    ResetPasswordRequest:
      type: object
      required: [token, password]
      properties:
        token:
          type: string
          minLength: 1
          description: The HMAC JWT from the reset link.
        password:
          x-oapi-codegen-extra-tags:
            validate: "required,passwd,min=8,max=72"
          type: string
          minLength: 8
          maxLength: 72
          description: New password.
      description: Request body for `POST /auth/reset-password`.

    EmailTemplateKind:
      type: string
      enum: [verify, reset]
      description: The kind of auth email. `verify` and `reset`.

    EmailTemplateBody:
      type: object
      required: [subject, body]
      properties:
        subject:
          type: string
          minLength: 1
          maxLength: 200
          description: |
            Email subject. A Go template rendered with the same variables
            as the body (`ActionURL`, `ProjectName`, `Expiry`,
            `ProjectDomain`, `Email`).
        body:
          type: string
          minLength: 1
          description: |
            HTML email body. A Go template rendered with the same
            variables; must include `{{.ActionURL}}` at least once — the
            actionable link always comes from IdentityX.
      description: Request body for `PUT /projects/{project_id}/email-templates/{kind}`.

    EffectiveEmailTemplate:
      type: object
      required: [kind, subject, body, source]
      properties:
        kind:
          $ref: '#/components/schemas/EmailTemplateKind'
        subject:
          type: string
          description: Effective subject (override or default).
        body:
          type: string
          description: Effective body (override or default).
        source:
          type: string
[...]
