PAYSSAGE_POSTGRES_HOST=postgres
PAYSSAGE_POSTGRES_PORT=5432
PAYSSAGE_POSTGRES_DB=payssage
PAYSSAGE_POSTGRES_USER=payssage
PAYSSAGE_POSTGRES_PASSWORD=

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3002

IDENTITY_X_PROJECT_ID=
IDENTITY_X_URL=http://identityx:8080
IDENTITY_X_API_KEY=

MP_CLIENT_ID=
MP_ACCESS_TOKEN=
MP_CLIENT_SECRET=
MP_REDIRECT_URI=
MP_WEBHOOK_SECRET=
MP_TEST_ACCESS_TOKEN=
MP_TEST_PUBLIC_KEY=

TEST_MODE=true
