POSTGRES_USER=TheTree
POSTGRES_PASSWORD=TheTreePass
POSTGRES_DB=TheTreeDB

# Password is "123"
# Generate a new password with `caddy hash-password`
# this is to access the api_routes block in caddy, specifically routes behind simple auth
ADMIN_PASSWORD_HASH='$2a$14$poUC2/OI4xIsG7vv6wYHMOVb8KtJCfXdALcZ27WGjkZwHyDvl2EZ2'
ADMIN_USER_NAME=admin

# Plain text
GRAFANA_ADMIN_PASSWORD=

RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=

IDENTITY_X_TAG=latest
PAYSSAGE_TAG=latest
INFORMD_TAG=latest
UNIVENTS_TAG=latest