POSTGRES_USER=RootUserName
POSTGRES_PASSWORD=RootUserPass
POSTGRES_DB=RootUserDB

# Password is "123"
ADMIN_PASSWORD_HASH='$2a$14$poUC2/OI4xIsG7vv6wYHMOVb8KtJCfXdALcZ27WGjkZwHyDvl2EZ2'
ADMIN_USER_NAME=admin

BESZEL_PUBLIC_KEY=
BESZEL_TOKEN=

GRAFANA_ADMIN_PASSWORD=
