POSTGRES_USER=RootUserName
POSTGRES_PASSWORD=RootUserPass
POSTGRES_DB=RootUserDB

# Password is "123"
# Generate a new password with `caddy hash-password`
# this is to access the api_routes block in caddy, specifically routes behind simple auth
ADMIN_PASSWORD_HASH='$2a$14$poUC2/OI4xIsG7vv6wYHMOVb8KtJCfXdALcZ27WGjkZwHyDvl2EZ2'
ADMIN_USER_NAME=admin

# Plain text
GRAFANA_ADMIN_PASSWORD=
