openapi: 3.1.0

info:
  title: Univents API
  summary: Events, editions, ticketing, and certifications service for TrieOH
  description: |
    Univents is TrieOH's events service: events and editions (runs),
    ticket types and products, programs (schedules), badge and
    certification templates, and signature workflows for certificates.

    ## Authentication

    All protected endpoints require a bearer JWT issued by IdentityX:

    | Scheme | Header |
    |---|---|
    | Bearer JWT | `Authorization: Bearer <token>` |

    Public (read-only) endpoints take no auth: event/edition browsing,
    products, programs, signatures, and certification verification.

    ### Signature-request tokens

    The signature fulfillment routes — `POST /signature-requests/fulfill`,
    `POST /signature-requests/deny`, `POST /signatures/revoke` — are NOT
    JWT-authenticated. They are authenticated by an HMAC-signed JWT passed
    as the `token` query parameter (issued when the signature request was
    created). The token binds the request to a single signature
    request/edition.

    ## Response envelope

    Every JSON response is the `fun.Response` envelope:

    ```json
    {
      "code": 200,
      "message": "",
      "data": { "...": "operation payload" },
      "error": null,
      "pagination": null,
      "timestamp": "2026-01-01T12:00:00Z",
      "module": "Univents"
    }
    ```

    - Success: `data` carries the payload. Errors: `error` carries an
      `AppError` — `{ "code", "message", "fields", "meta" }`.
    - `pagination` is reserved for paged list endpoints (currently
      unused by Univents routes).

    ## Error codes → HTTP status

    The `error.code` sentinel maps to the HTTP status:

    | code | status |
    |---|---|
    | `BAD_REQUEST`, `VALIDATION_ERROR` | 400 |
    | `UNAUTHORIZED` | 401 |
    | `PAYMENT_REQUIRED` | 402 |
    | `FORBIDDEN` | 403 |
    | `NOT_FOUND` | 404 |
    | `METHOD_NOT_ALLOWED` | 405 |
    | `CONFLICT` | 409 |
    | `UNPROCESSABLE_ENTITY` | 422 |
    | `TOO_MANY_REQUESTS` | 429 |
    | `INTERNAL_ERROR` | 500 |
    | `NOT_IMPLEMENTED` | 501 |
    | `BAD_GATEWAY` | 502 |
    | `SERVICE_UNAVAILABLE` | 503 |

    ## Custom methods

    A few lookups are AIP custom methods (`:verb` suffix, AIP-136): they
    look up a resource by a natural key instead of its ID:

    - `GET /events/{event_slug}:by-slug`
    - `GET /events/{event_slug}:by-slug/editions/{edition_slug}:by-slug`
    - `GET /editions/{edition_id}/products/{vendor_code}:by-code`
    - `GET /editions/{edition_id}/variants/{vendor_code}:by-code`

    These are part of the public interface — the frontend depends on
    them — and must not be renamed or removed.

    ## Amounts

    Prices are integer cents (`price_cents`, `price`) — `int64`, never
    floats.

    ## Rate limits

    The harness applies a fixed rate limit of 400 requests/second with a
    burst of 20, keyed by client IP. Exceeded requests receive
    `429 TOO_MANY_REQUESTS`.
  version: 0.1.0
  contact:
    name: TrieOH
    url: https://trieoh.com/support
    email: contact@trieoh.com
  license:
    name: TSAL
    url: https://git.trieoh.com/TrieOH/TheTree/src/branch/main/api/univents/LICENSE

jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema

servers:
  - url: https://api.univents.com.br
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: system
    description: Reserved for system level operations such as /health

  - name: events
    description: Event lifecycle, members, and public browsing

  - name: editions
    description: Edition (event run) lifecycle, drafts, and publication

  - name: ticket_types
    description: Ticket types for an edition

  - name: products
    description: Products and variants (merchandise) for an edition

  - name: programs
    description: Program schedules and occurrences

  - name: badges
    description: Badge templates for an edition

  - name: signatures
    description: Signature records, signature requests, and fulfillment

  - name: certifications
    description: Certification templates, emission, and verification

  - name: webhooks
    description: Payssage webhook ingestion (payment confirmation)

externalDocs:
  description: Full TrieOH documentation
  url: https://docs.trieoh.com

security:
  - bearerAuth: []

paths:
  /docs/openapi.yml:
    get:
      tags: [system]
      operationId: getOpenAPISpec
      summary: Get the OpenAPI specification
      description: |
        Returns this service's OpenAPI 3.1 specification in YAML — the
        same content as api/<svc>/api-spec.yml, embedded and served by
        the harness. Docs tooling fetches this URL to render the API
        reference. Public.
      security: []
      responses:
        '200':
          description: The OpenAPI 3.1 document
          content:
            application/yaml:
              schema:
                type: string
                description: The OpenAPI 3.1 document in YAML.

  /health:
    get:
      tags: [system]
      operationId: getHealth
      summary: Health check
      description: Harness-owned liveness probe. Public.
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: "ok"
                  service:
                    type: string
                    const: "Univents"

  /events:
    get:
      tags: [events]
      operationId: listPublicEvents
      summary: List public events
      description: |
        Lists publicly visible events (active events with published
        editions). Public.
      security: []
      responses:
        '200':
          description: Public events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Event'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [events]
      operationId: createEvent
      summary: Create an event
      description: |
        Creates an event owned by the authenticated actor. The creator
        becomes the event owner. New events start in `draft` status.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
            example:
              full_name: TrieOH Developers Conference
              acronym: TDC
              slug: trieoh-dev-conf
              description: A yearly gathering of TrieOH developers.
              contact_email: events@trieoh.com
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_slug}:by-slug:
    get:
      tags: [events]
      operationId: getEventBySlug
      summary: Get an event by slug
      description: |
        AIP custom method (`:verb` suffix per AIP-136). Fetches a single
        event by its slug. Public.
      security: []
      parameters:
        - name: event_slug
          in: path
          required: true
          description: Event slug.
          schema:
            type: string
      responses:
        '200':
          description: The requested event
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/owned:
    get:
      tags: [events]
      operationId: listOwnedEvents
      summary: List events you own
      description: |
        Lists the events owned by the authenticated actor.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Events owned by the actor
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/joined:
    get:
      tags: [events]
      operationId: listJoinedEvents
      summary: List events you are a member of
      description: |
        Lists the events the authenticated actor is a member of (any
        role: owner, admin, or staff).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Events the actor belongs to
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}:
    patch:
      tags: [events]
      operationId: patchEvent
      summary: Update an event
      description: |
        Updates event details. The actor must be an owner or admin of the
        event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEventRequest'
      responses:
        '200':
          description: Event updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/payments/connect:
    post:
      tags: [events]
      operationId: connectEventPayments
      summary: Connect a Payssage seller to the event
      description: |
        Ensures the event's Payssage wallet exists (created lazily under the
        platform identity, with the 5% marketplace fee) and starts the
        provider OAuth flow for a seller on that wallet. Returns the provider
        consent URL to send the user to, plus the event's wallet id. The
        actor must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectEventPaymentsRequest'
      responses:
        '200':
          description: Provider consent URL and event wallet
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ConnectEventPaymentsResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/payments/complete:
    post:
      tags: [events]
      operationId: completeEventPayments
      summary: Persist the connected seller on the event
      description: |
        Persists the seller and provider public key delivered by the OAuth
        callback (seller_id is payssage's credential_id) on the event, after
        verifying the seller belongs to the event's wallet. The actor must be
        an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteEventPaymentsRequest'
      responses:
        '200':
          description: Event updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/payments:
    delete:
      tags: [events]
      operationId: disconnectEventPayments
      summary: Disconnect the event's seller (unlink only)
      description: |
        Clears the seller and provider public key from the event. The wallet
        is kept — it is the event's permanent payment container — and can be
        reconnected later. The actor must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '204':
          description: Seller unlinked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/publish:
    post:
      tags: [events]
      operationId: publishEvent
      summary: Publish an event
      description: |
        Moves the event from `draft` to `active`. Requires an owner or
        admin role.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '204':
          description: Event published
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/discontinue:
    post:
      tags: [events]
      operationId: discontinueEvent
      summary: Discontinue an event
      description: |
        Discontinues an active event (status becomes `discontinued`).
        Requires an owner or admin role.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '204':
          description: Event discontinued
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/members:
    get:
      tags: [events]
      operationId: listEventMembers
      summary: List event members
      description: |
        Lists the members of an event with their roles. Requires an
        owner, admin, or staff role.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '200':
          description: Event members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EventMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [events]
      operationId: addEventMember
      summary: Add an event member
      description: |
        Adds an actor (by email) to the event with the given role. The
        authenticated actor must be an owner or admin.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEventMemberRequest'
            example:
              email: user@example.com
              role: staff
      responses:
        '201':
          description: Member added
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EventMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/members/{user_id}:
    delete:
      tags: [events]
      operationId: removeEventMember
      summary: Remove an event member
      description: |
        Removes a member from the event by email. The authenticated actor
        must be an owner or admin. NOTE: the `user_id` path parameter is
        part of the interface but the member to remove is identified by
        the request body email.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
        - name: user_id
          in: path
          required: true
          description: User (actor) ID of the member to remove.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  x-go-type: string
                  x-oapi-codegen-extra-tags:
                    validate: "required,email"
      responses:
        '204':
          description: Member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_slug}:by-slug/editions/{edition_slug}:by-slug:
    get:
      tags: [editions]
      operationId: getEditionBySlug
      summary: Get an edition by event slug and edition slug
      description: |
        AIP custom method (`:verb` suffix per AIP-136). Fetches a single
        edition by its slug nested under its event's slug. Public.
      security: []
      parameters:
        - name: event_slug
          in: path
          required: true
          description: Event slug.
          schema:
            type: string
        - name: edition_slug
          in: path
          required: true
          description: Edition slug.
          schema:
            type: string
      responses:
        '200':
          description: The requested edition
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Edition'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/editions:
    get:
      tags: [editions]
      operationId: listPublicEditions
      summary: List an event's public editions
      description: |
        Lists the published (non-draft) editions of an event. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '200':
          description: Public editions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Edition'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [editions]
      operationId: createEdition
      summary: Create an edition
      description: |
        Creates a draft edition (run) of the event. The actor must be an
        owner or admin of the event. Draft editions are invisible to
        public listing until published.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEditionRequest'
            example:
              name: TrieOH Dev Conf 2026
              slug: "2026"
              starts_at: '2026-05-04T09:00:00Z'
              ends_at: '2026-05-06T18:00:00Z'
      responses:
        '201':
          description: Edition created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Edition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/editions/active:
    get:
      tags: [editions]
      operationId: getActiveEdition
      summary: Get the event's active edition
      description: |
        Fetches the currently running (or next upcoming) published
        edition of the event. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '200':
          description: The active edition
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Edition'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/editions/past:
    get:
      tags: [editions]
      operationId: listPastEditions
      summary: List the event's past editions
      description: |
        Lists the published editions that already ended. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '200':
          description: Past editions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Edition'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/editions/upcoming:
    get:
      tags: [editions]
      operationId: listUpcomingEditions
      summary: List the event's upcoming editions
      description: |
        Lists the published editions that have not started yet. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '200':
          description: Upcoming editions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Edition'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/editions/draft:
    get:
      tags: [editions]
      operationId: listDraftEditions
      summary: List the event's draft editions
      description: |
        Lists the unpublished (draft) editions of an event. The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
      responses:
        '200':
          description: Draft editions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Edition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/editions/{edition_id}:
    patch:
      tags: [editions]
      operationId: patchEdition
      summary: Update an edition
      description: |
        Updates edition details (dates, location, branding). The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEditionRequest'
      responses:
        '200':
          description: Edition updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Edition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{event_id}/editions/{edition_id}/publish:
    post:
      tags: [editions]
      operationId: publishEdition
      summary: Publish an edition
      description: |
        Publishes a draft edition, making it publicly visible and open
        for registrations. The actor must be an owner or admin of the
        event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventID'
        - $ref: '#/components/parameters/EditionID'
      responses:
        '204':
          description: Edition published
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/ticket-types:
    get:
      tags: [ticket_types]
      operationId: listTicketTypes
      summary: List an edition's ticket types
      description: |
        Lists the ticket types available for the edition. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition ticket types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TicketType'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [ticket_types]
      operationId: createTicketType
      summary: Create a ticket type
      description: |
        Creates a ticket type for the edition (price in cents, optional
        max quantity, access level for gated areas). The actor must be
        an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketTypeRequest'
            example:
              name: General Admission
              description: Standard entry ticket.
              access_level: 0
              price_cents: 15000
              max_quantity: 500
      responses:
        '201':
          description: Ticket type created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TicketType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /ticket-types/{ticket_type_id}:
    get:
      tags: [ticket_types]
      operationId: getTicketType
      summary: Get a ticket type
      description: Fetches a single ticket type. Public.
      security: []
      parameters:
        - name: ticket_type_id
          in: path
          required: true
          description: Ticket type ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested ticket type
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TicketType'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags: [ticket_types]
      operationId: patchTicketType
      summary: Update a ticket type
      description: |
        Updates ticket type details. The actor must be an owner or admin
        of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: ticket_type_id
          in: path
          required: true
          description: Ticket type ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchTicketTypeRequest'
      responses:
        '200':
          description: Ticket type updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TicketType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/products:
    get:
      tags: [products]
      operationId: listEditionProducts
      summary: List an edition's products
      description: |
        Lists the products (merchandise, add-ons) available for the
        edition. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition products
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [products]
      operationId: createInitialProduct
      summary: Create a product with its first variant
      description: |
        Creates a product and its first variant in one call. The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInitialProductRequest'
            example:
              requires_registration: false
              vendor_code: TEE-2026
              variant_vendor_code: TEE-2026-BLACK-M
              name: Conference T-Shirt
              description: Black, size M.
              price: 8900
              stock: 100
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/products/{vendor_code}:by-code:
    get:
      tags: [products]
      operationId: getProductByVendorCode
      summary: Get an edition product by vendor code
      description: |
        AIP custom method (`:verb` suffix per AIP-136). Fetches a product
        by its vendor code within the edition. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
        - name: vendor_code
          in: path
          required: true
          description: Product vendor code.
          schema:
            type: string
      responses:
        '200':
          description: The requested product
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/variants/{vendor_code}:by-code:
    get:
      tags: [products]
      operationId: getVariantByVendorCode
      summary: Get an edition variant by vendor code
      description: |
        AIP custom method (`:verb` suffix per AIP-136). Fetches a product
        variant by its vendor code within the edition. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
        - name: vendor_code
          in: path
          required: true
          description: Variant vendor code.
          schema:
            type: string
      responses:
        '200':
          description: The requested variant
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProductVariant'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /products/{product_id}:
    get:
      tags: [products]
      operationId: getProduct
      summary: Get a product
      description: Fetches a single product. Public.
      security: []
      parameters:
        - name: product_id
          in: path
          required: true
          description: Product ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested product
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags: [products]
      operationId: patchProduct
      summary: Update a product
      description: |
        Updates product details. The actor must be an owner or admin of
        the event.
      security:
        - bearerAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          description: Product ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchProductRequest'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [products]
      operationId: deleteProduct
      summary: Delete a product
      description: |
        Soft-deletes a product (and its variants). The actor must be an
        owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          description: Product ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Product deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /products/{product_id}/variants:
    get:
      tags: [products]
      operationId: listProductVariants
      summary: List a product's variants
      description: Lists the variants of a product. Public.
      security: []
      parameters:
        - name: product_id
          in: path
          required: true
          description: Product ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Product variants
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProductVariant'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [products]
      operationId: createProductVariant
      summary: Create a product variant
      description: |
        Adds a variant to an existing product. The actor must be an
        owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          description: Product ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductVariantRequest'
            example:
              vendor_code: TEE-2026-WHITE-L
              name: Conference T-Shirt (White, L)
              description: White, size L.
              price: 8900
              stock: 50
      responses:
        '201':
          description: Variant created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProductVariant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /variants/{variant_id}:
    patch:
      tags: [products]
      operationId: patchProductVariant
      summary: Update a product variant
      description: |
        Updates variant details. The actor must be an owner or admin of
        the event.
      security:
        - bearerAuth: []
      parameters:
        - name: variant_id
          in: path
          required: true
          description: Variant ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchProductVariantRequest'
      responses:
        '200':
          description: Variant updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProductVariant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [products]
      operationId: deleteProductVariant
      summary: Delete a product variant
      description: |
        Soft-deletes a variant. The actor must be an owner or admin of
        the event.
      security:
        - bearerAuth: []
      parameters:
        - name: variant_id
          in: path
          required: true
          description: Variant ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Variant deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/programs:
    get:
      tags: [programs]
      operationId: listEditionPrograms
      summary: List an edition's programs
      description: |
        Lists the programs (schedule items: activities and checkpoints)
        of the edition. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition programs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Program'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [programs]
      operationId: createProgram
      summary: Create a program
      description: |
        Creates a program (activity or checkpoint) for the edition. The
        actor must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProgramRequest'
            example:
              kind: activity
              name: Opening Keynote
              description: Welcome and keynote session.
              min_access_level: 0
              staff_only: false
              price: 0
      responses:
        '201':
          description: Program created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Program'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /programs/{program_id}:
    get:
      tags: [programs]
      operationId: getProgram
      summary: Get a program
      description: Fetches a single program. Public.
      security: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested program
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Program'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags: [programs]
      operationId: patchProgram
      summary: Update a program
      description: |
        Updates program details. The actor must be an owner or admin of
        the event.
      security:
        - bearerAuth: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchProgramRequest'
      responses:
        '200':
          description: Program updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Program'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [programs]
      operationId: deleteProgram
      summary: Delete a program
      description: |
        Soft-deletes a program and its occurrences. The actor must be an
        owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The deleted program
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Program'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /programs/{program_id}/occurrences:
    get:
      tags: [programs]
      operationId: listProgramOccurrences
      summary: List a program's occurrences
      description: |
        Lists the occurrences (dated sessions) of a program. Public.
      security: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Program occurrences
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProgramOccurrence'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [programs]
      operationId: createProgramOccurrence
      summary: Create a program occurrence
      description: |
        Adds a dated occurrence to a program. The actor must be an owner
        or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: program_id
          in: path
          required: true
          description: Program ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProgramOccurrenceRequest'
            example:
              starts_at: '2026-05-04T09:00:00Z'
              ends_at: '2026-05-04T10:30:00Z'
              max_capacity: 200
      responses:
        '201':
          description: Occurrence created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProgramOccurrence'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/occurrences:
    get:
      tags: [programs]
      operationId: listEditionOccurrences
      summary: List an edition's occurrences
      description: |
        Lists all occurrences across the edition's programs. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition occurrences
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProgramOccurrence'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /occurrences/{occurrence_id}:
    get:
      tags: [programs]
      operationId: getOccurrence
      summary: Get an occurrence
      description: Fetches a single program occurrence. Public.
      security: []
      parameters:
        - name: occurrence_id
          in: path
          required: true
          description: Occurrence ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested occurrence
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProgramOccurrence'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags: [programs]
      operationId: patchOccurrence
      summary: Update an occurrence
      description: |
        Updates occurrence times and capacity. The actor must be an
        owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: occurrence_id
          in: path
          required: true
          description: Occurrence ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchProgramOccurrenceRequest'
      responses:
        '200':
          description: Occurrence updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProgramOccurrence'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [programs]
      operationId: deleteOccurrence
      summary: Delete an occurrence
      description: |
        Soft-deletes an occurrence. The actor must be an owner or admin
        of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: occurrence_id
          in: path
          required: true
          description: Occurrence ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The deleted occurrence
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProgramOccurrence'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/badges:
    get:
      tags: [badges]
      operationId: listBadgeTemplates
      summary: List an edition's badge templates
      description: |
        Lists the badge templates of the edition. Requires an owner,
        admin, or staff role on the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition badge templates
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BadgeTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [badges]
      operationId: createBadgeTemplate
      summary: Create a badge template
      description: |
        Creates a badge template for the edition (design data is
        opaque JSON consumed by the badge renderer). Set origin to
        "staff" for the edition's staff-only design (ticket_type_id must
        be absent); at most one staff template per edition. The actor must
        be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBadgeTemplateRequest'
            example:
              name: Standard Badge
              design_data:
                background: "#1b2a4a"
      responses:
        '201':
          description: Badge template created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BadgeTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /badges/{template_id}:
    get:
      tags: [badges]
      operationId: getBadgeTemplate
      summary: Get a badge template
      description: |
        Fetches a single badge template. Requires an owner, admin, or
        staff role on the event.
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Badge template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested badge template
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BadgeTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [badges]
      operationId: deleteBadgeTemplate
      summary: Delete a badge template
      description: |
        Deletes a badge template. The actor must be an owner or admin of
        the event.
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Badge template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Badge template deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags: [badges]
      operationId: updateBadgeTemplate
      summary: Update a badge template
      description: |
        Updates a badge template's name and/or design data. The target
        ticket type and origin are immutable — move a template by deleting
        and recreating it. Designs are read live, so emissions re-render
        automatically; no emails are sent. The actor must be an owner or
        admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Badge template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBadgeTemplateRequest'
            example:
              name: Standard Badge v2
              design_data:
                background: "#123456"
      responses:
        '200':
          description: Badge template updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BadgeTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{user_id}/badges:
    get:
      tags: [badges]
      operationId: listUserBadges
      summary: List a user's badges
      description: |
        Lists a user's active badges grouped by origin (attendant,
        staff), each split into current and past editions. Public —
        badges are meant to be shown on profiles.
      security: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: User (actor) ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The user's badges grouped by origin
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BadgeProfileGroups'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/badges/emissions:
    get:
      tags: [badges]
      operationId: listEditionBadgeEmissions
      summary: List an edition's badge emissions
      description: |
        Lists every badge emission of the edition (active and revoked)
        for browsing. Holder names are derived by the front from
        IdentityX profiles. The actor must be an owner or admin of the
        event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition badge emissions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BadgeEditionEmission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/badges/print:
    get:
      tags: [badges]
      operationId: getEditionBadgesPrint
      summary: Get badge print data
      description: |
        Returns the print payload for the edition's active emissions
        (all by default, or a specific set via emission_ids): the design
        plus the variables resolved from Univents' own data (event and
        edition names, ticket name, action URL). Holder names are
        derived by the front from IdentityX profiles. The actor must be
        an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
        - name: emission_ids
          in: query
          required: false
          description: Optional emission IDs to print; defaults to all active.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Badge print payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BadgePrintItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/signatures:
    get:
      tags: [signatures]
      operationId: listEditionSignatures
      summary: List an edition's signatures
      description: |
        Lists the signatures (approved signatory images) of the edition.
        Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition signatures
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Signature'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [signatures]
      operationId: createSignature
      summary: Create a signature
      description: |
        Registers a signature (signatory name, title, and signature
        image URL) for the edition, for use on certificates. The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSignatureRequest'
            example:
              signatory_name: Jane Doe
              signatory_title: Head of Education
              signatory_email: jane@trieoh.com
              image_url: https://cdn.trieoh.com/signatures/jane.png
      responses:
        '201':
          description: Signature created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Signature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /signatures/{signature_id}:
    get:
      tags: [signatures]
      operationId: getSignature
      summary: Get a signature
      description: Fetches a single signature. Public.
      security: []
      parameters:
        - name: signature_id
          in: path
          required: true
          description: Signature ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested signature
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Signature'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [signatures]
      operationId: deleteSignature
      summary: Delete a signature
      description: |
        Deletes a signature. The actor must be an owner or admin of the
        event.
      security:
        - bearerAuth: []
      parameters:
        - name: signature_id
          in: path
          required: true
          description: Signature ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Signature deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/signature-requests:
    get:
      tags: [signatures]
      operationId: listEditionSignatureRequests
      summary: List an edition's signature requests
      description: |
        Lists the signature requests issued for the edition. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition signature requests
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SignatureRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [signatures]
      operationId: createSignatureRequest
      summary: Create a signature request
      description: |
        Issues a signature request to a signatory (by email). The
        request carries a token the signatory uses to fulfill or deny
        via the public fulfill/deny endpoints; it expires after
        `expires_in_days` (default 7, max 365). The actor must be an
        owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSignatureRequestRequest'
            example:
              signatory_name: Jane Doe
              signatory_title: Head of Education
              signatory_email: jane@example.com
              expires_in_days: 14
      responses:
        '201':
          description: Signature request created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SignatureRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /signature-requests/{request_id}:
    get:
      tags: [signatures]
      operationId: getSignatureRequest
      summary: Get a signature request
      description: Fetches a single signature request. Public.
      security: []
      parameters:
        - name: request_id
          in: path
          required: true
          description: Signature request ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested signature request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SignatureRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /signature-requests/{request_id}/cancel:
    post:
      tags: [signatures]
      operationId: cancelSignatureRequest
      summary: Cancel a signature request
      description: |
        Cancels a pending signature request, optionally with a reason.
        The actor must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          description: Signature request ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: [ string, "null" ]
                  description: Why the request was cancelled.
      responses:
        '204':
          description: Signature request cancelled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /signature-requests/fulfill:
    post:
      tags: [signatures]
      operationId: fulfillSignatureRequest
      summary: Fulfill a signature request
      description: |
        Completes a pending signature request by uploading the signatory's
        signature image. Authenticated by the signature-request token
        passed as the `token` query parameter (NOT a JWT). The token
        binds this call to a single request/edition.
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: HMAC-signed signature-request token.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image_url]
              properties:
                image_url:
                  type: string
                  format: uri
                  description: URL of the uploaded signature image.
            example:
              image_url: https://cdn.trieoh.com/signatures/jane.png
      responses:
        '201':
          description: Signature created from the fulfilled request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Signature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /signature-requests/deny:
    post:
      tags: [signatures]
      operationId: denySignatureRequest
      summary: Deny a signature request
      description: |
        Denies a pending signature request. Authenticated by the
        signature-request token passed as the `token` query parameter
        (NOT a JWT).
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: HMAC-signed signature-request token.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: [ string, "null" ]
                  description: Why the request was denied.
            example:
              reason: Signature image no longer available
      responses:
        '204':
          description: Signature request denied
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /signatures/revoke:
    post:
      tags: [signatures]
      operationId: revokeSignature
      summary: Revoke a signature
      description: |
        Revokes a previously fulfilled signature. Authenticated by the
        signature token passed as the `token` query parameter (NOT a
        JWT).
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: HMAC-signed signature token.
          schema:
            type: string
      responses:
        '204':
          description: Signature revoked
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/certifications/templates:
    get:
      tags: [certifications]
      operationId: listCertificationTemplates
      summary: List an edition's certification templates
      description: |
        Lists the certification templates of the edition. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition certification templates
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CertificationTemplate'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [certifications]
      operationId: createCertificationTemplate
      summary: Create a certification template
      description: |
        Creates a certification template for the edition (`edition_attendance`
        or `program_attendance`; the latter is linked to programs after
        creation). The actor must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCertificationTemplateRequest'
            example:
              kind: edition_attendance
              name: Edition Attendance Certificate
              description: Awarded to attendees of the edition.
              design_data:
                background: "#ffffff"
      responses:
        '201':
          description: Certification template created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CertificationTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /certifications/templates/{template_id}:
    get:
      tags: [certifications]
      operationId: getCertificationTemplate
      summary: Get a certification template
      description: Fetches a single certification template. Public.
      security: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Certification template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested template
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CertificationTemplate'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags: [certifications]
      operationId: updateCertificationTemplate
      summary: Update a certification template
      description: |
        Updates a certification template's details and design. The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Certification template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCertificationTemplateRequest'
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CertificationTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [certifications]
      operationId: deleteCertificationTemplate
      summary: Delete a certification template
      description: |
        Deletes a certification template. The actor must be an owner or
        admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Certification template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Template deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /certifications/templates/{template_id}/link:
    post:
      tags: [certifications]
      operationId: linkCertificationTemplate
      summary: Link a program to a certification template
      description: |
        Links a program to a `program_attendance` certification
        template, making the template eligible for that program's
        attendees. The actor must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Certification template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertTemplateProgramRequest'
            example:
              program_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Program linked to the template
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [certifications]
      operationId: unlinkCertificationTemplate
      summary: Unlink a program from a certification template
      description: |
        Removes a program link from a certification template. The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Certification template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertTemplateProgramRequest'
      responses:
        '204':
          description: Program unlinked from the template
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /certifications/templates/{template_id}/links:
    get:
      tags: [certifications]
      operationId: listCertificationTemplateLinks
      summary: List a template's program links
      description: |
        Lists the program links of a certification template. Public.
      security: []
      parameters:
        - name: template_id
          in: path
          required: true
          description: Certification template ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Template program links
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CertificationTemplateProgram'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /verify/{hash}:
    get:
      tags: [certifications]
      operationId: verifyCertification
      summary: Verify a certification by hash
      description: |
        Verifies a certification by its public verification hash.
        Returns validity and the certificate when found. Public.
      security: []
      parameters:
        - name: hash
          in: path
          required: true
          description: Certification verification hash.
          schema:
            type: string
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/VerifyCertResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /certifications/{cert_id}:
    get:
      tags: [certifications]
      operationId: getCertification
      summary: Get a certification
      description: |
        Fetches a single certification (emitted certificate). The actor
        must be the certificate holder or an event member.
      security:
        - bearerAuth: []
      parameters:
        - name: cert_id
          in: path
          required: true
          description: Certification ID.
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: The requested certification
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Certification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/certifications:
    get:
      tags: [certifications]
      operationId: listEditionCertifications
      summary: List an edition's certifications
      description: |
        Lists the certifications emitted for the edition. The actor must
        be an owner, admin, or staff of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition certifications
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Certification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /certifications:
    get:
      tags: [certifications]
      operationId: listMyCertifications
      summary: List your certifications
      description: |
        Lists the certifications issued to the authenticated actor.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Certifications issued to the actor
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Certification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /certifications/{cert_id}/invalidate:
    post:
      tags: [certifications]
      operationId: invalidateCertification
      summary: Invalidate a certification
      description: |
        Invalidates an emitted certification with a reason. The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - name: cert_id
          in: path
          required: true
          description: Certification ID.
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvalidCertReason'
            example:
              reason: Erroneous emission
      responses:
        '204':
          description: Certification invalidated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /editions/{edition_id}/certifications/emission-errors:
    get:
      tags: [certifications]
      operationId: listCertificationEmissionErrors
      summary: List an edition's emission errors
      description: |
        Lists the certification emission errors recorded for the
        edition (attendees whose certificates failed to emit). The actor
        must be an owner or admin of the event.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EditionID'
      responses:
        '200':
          description: Edition emission errors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
[...]
