@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --trieoh-primary: #4F46e5;
  --trieoh-secondary: #9ABDFF;
  --trieoh-neutral1: #F5F5F5;
  --trieoh-neutral2: #131517;
  --trieoh-radius-md: 8px;
  --trieoh-text-sm: 0.75rem; /* 12px */
  --trieoh-text-xl: 1.25rem; /* 20px */
  --trieoh-text-3xl: 1.875rem; /* 30px */
  --trieoh-text-6xl: 3.75rem; /* 60px */
}
