# Should be the postgres user that will manage the databases
POSTGRES_USER=GoAuth
POSTGRES_PASSWORD=GoAuth%23TrieOH%23EFJMS

# Should be the name of the databases that will be created
POSTGRES_DB=GoAuth-db
POSTGRES_TEST_DB=GoAuth-test-db

# Should be the name of the docker images that manage postgres
POSTGRES_HOST_TEST=go-auth-test-database
POSTGRES_HOST=go-auth-database

# Port of the databases inside docker
POSTGRES_PORT=5432

# Signing key for JWT tokens in the system
JWT_PRIVATE_KEY=./keys/ed25519-private.pem
JWT_PUBLIC_KEY=./keys/ed25519-public.pem
JWT_MASTER_KEY=OurV3ryLongM4asterK3y

CORS_ALLOWED_ORIGINS=localhost:3000,localhost:8080
CORS_ALLOWED_METHODS=GET,POST,PATCH,PUT,DELETE
CORS_ALLOWED_HEADERS=Content-Type,Authorization,Refresh,Cookie
