# Should be the postgres user that will manage the databases
POSTGRES_USER=GoAuth
POSTGRES_PASSWORD=GoAuth%23TrieOH%23EFJMS

# Should be the name of the databases that will be created
POSTGRES_DB=GoAuth-db
POSTGRES_TEST_DB=GoAuth-test-db

# Should be the name of the docker images that manage postgres
POSTGRES_HOST_TEST=go-auth-test-database
POSTGRES_HOST=go-auth-database

# Port of the databases inside docker
POSTGRES_PORT=5432

# Signing key for JWT tokens in the system
JWT_SECRET=Av3ryL0ngJwTS3cret
