{{ define "subject" }}Reset your password{{ end }}

Hello,

You requested a password reset.

Open the link below to set a new password:
{{ .Link }}

If you didn’t request this, you can ignore this email.
