# The base URL for the Payssage API (optional, defaults to https://api.triepayments.trieoh.com)
TRIEOH_PAY_BASE_URL=http://localhost:8082

# Your Trieoh Pay Secret Key (required)
TRIEOH_PAY_SECRET_KEY=your_secret_key_here